@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  font-size: 18px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  min-height: -webkit-fill-available;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  font-family: $font-family;
  line-height: 1.75em;
  background: color($theme-light, "bg-body");
  color: color($theme-light, "text-body");

  // @include theme-dark {
  //   background: color($theme-dark, "bg-body");
  //   color: color($theme-dark, "text-body");
  // }

  @include xxl {
    //padding: 2em 10em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

i[class*="ci-"] {
  font-size: 1.5em;
}

.card {
  border-radius: $border-radius;
  background-color: color($theme-light, "bg-card");
  // Shadow?

  @include sm {
    border-radius: 1em;
  }
  @include theme-dark {
    background-color: color($theme-dark, "bg-card");
  }
}

.page-enter-active,
.page-leave-active {
  will-change: all;
  transition: all 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  //transform: translate(2em, 5em);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
